<body style="background-image: url('../assets/img/hamburgers.png'); color:#FFF; font-family:'Comic Sans MS'; font-weight:bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
<h1 style="font-size: 72px; text-align: center; margin:0px; padding-bottom:0px">EAT DA BURGER</h1>

<h3 style="float:left; margin-top:0px">Available Burgers</h3>

<ul style="clear:left">
  {{#each burgers}}
  	{{#unless devoured}}
	  	<li>
	       <p>Burger {{this.id}}: {{this.burger_name}} &nbsp;
	       		<form action="/{{this.id}}?_method=PUT" method="POST">
	       			<button id="{{this.id}}">Click to Eat</button>
	       		</form>
	       </p>
	  	</li>
  	{{/unless}}
  {{/each}}
</ul>

<h3>Add a Burger</h3>
<form action="/" method="POST">
	<textarea type="text" name="burger_name"></textarea>

	<button type="submit">Submit</button>
</form>

<h3>Eaten Burgers</h3>
  {{#each burgers}}
  	{{#if devoured}}
  		<ul>
		  	<li>
		       <p>Burger {{this.id}}: {{this.burger_name}} &nbsp;
		       </p>
		  	</li>
	  	</ul>
  	{{/if}}
  {{/each}}

</body>
					
{{!-- 			<form action="burger/eat/{{id}}?_method=PUT" method="post">
						<div class="input-group burgers">
							<li class="form-control">{{id}}. {{burger_name}}</li>
								<span class="input-group-btn">
									<button class="btn btn-success devour-button" type="submit">Devour!</button>
								</span>
							</div>
						</form>			
					{{/unless}}
				{{/each}} --}}